doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="css/diff.css")
    body
        form(action="/").form
            input(type="text", name="user", placeholder="login", value="#{user}")
            input(type="text", name="repo", placeholder="repository name", value="#{repo}")
            input(type="text", name="filename" placeholder="filename", value="#{file}")
            input(type="text", name="commit" placeholder="commit", value="#{commit}")
            input(type="submit")

        if ! empty
            div.loader-wrapper
                div.loader
                div.loader__text Loading...

            div.outer-wrapper
                div.outer-wrapper__left
                    div.wrapper.wrapper_left
                div.outer-wrapper__right
                    div.wrapper.wrapper_right
                div.overview-wrapper
                    div.overview

            script(type="text/javascript", src="es5-shim.min.js")
            script(type="text/javascript", src="diff_test.js")
            script(type="text/javascript", src="js/diff.min.js")
