doctype html
html
    head
        title Select your file
        meta(encoding="utf8")
    body
        h1 Select your staff

        form(action="/retrieve")
            input(type="text", name="user", placeholder="user")
            input(type="text", name="repo", placeholder="repo")
            input(type="text", name="filename" placeholder="filename")
            input(type="text", name="commit" placeholder="commit")
            input(type="submit")
